

USE [master]
GO

CREATE DATABASE [ACDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ACDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ACDB.mdf' , SIZE = 6136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ACDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ACDB_log.ldf' , SIZE = 1600KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ACDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ACDB]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 1/13/2013 1:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[customers](
	[Customer_Id] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](25) NULL,
	[Last_Name] [varchar](25) NULL,
	[Birth_Date] [varchar](25) NULL,
	[Join_Date] [date] NULL,
	[City] [varchar](45) NULL,
	[State] [varchar](25) NULL,
	[Street] [varchar](40) NULL,
	[main_phone_num] [varchar](12) NOT NULL,
	[secondary_phone_num] [varchar](12) NULL,
	[fax] [varchar](12) NULL,
	[monthly_discount] [decimal](4, 2) NULL,
	[pack_id] [int] NULL,
 CONSTRAINT [cst_id_pk] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pack_grades]    Script Date: 1/13/2013 1:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pack_grades](
	[grade_id] [int] IDENTITY(1,1) NOT NULL,
	[grade_name] [varchar](25) NULL,
	[min_price] [int] NULL,
	[max_price] [int] NULL,
 CONSTRAINT [grade_id_pk] PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[packages]    Script Date: 1/13/2013 1:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[packages](
	[pack_id] [int] IDENTITY(1,1) NOT NULL,
	[speed] [varchar](10) NULL,
	[strt_date] [date] NULL,
	[monthly_payment] [int] NULL,
	[sector_id] [int] NULL,
 CONSTRAINT [pack_id_pk] PRIMARY KEY CLUSTERED 
(
	[pack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sectors]    Script Date: 1/13/2013 1:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sectors](
	[sector_id] [int] IDENTITY(1,1) NOT NULL,
	[sector_name] [varchar](10) NULL,
 CONSTRAINT [sec_id_pk] PRIMARY KEY CLUSTERED 
(
	[sector_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([Customer_Id], [First_Name], [Last_Name], [Birth_Date], [Join_Date], [City], [State], [Street], [main_phone_num], [secondary_phone_num], [fax], [monthly_discount], [pack_id]) VALUES (1, N'Alvin', N'Smith', N'1962-06-27', CAST(0x812D0B00 AS Date), N'New York', N'New York', N'5953 Hollister Avenue', N'567.867.3945', N'936.228.9436', N'762.788.3400', CAST(28.00 AS Decimal(4, 2)), NULL)
INSERT [dbo].[customers] ([Customer_Id], [First_Name], [Last_Name], [Birth_Date], [Join_Date], [City], [State], [Street], [main_phone_num], [secondary_phone_num], [fax], [monthly_discount], [pack_id]) VALUES (2, N'Jose', N'Jones', N'1968-01-17', CAST(0x12300B00 AS Date), N'Los Angeles', N'California', N'4081 Hollister Avenue', N'520.336.8373', N'939.115.6982', N'711.883.3345', CAST(12.00 AS Decimal(4, 2)), NULL)
INSERT [dbo].[customers] ([Customer_Id], [First_Name], [Last_Name], [Birth_Date], [Join_Date], [City], [State], [Street], [main_phone_num], [secondary_phone_num], [fax], [monthly_discount], [pack_id]) VALUES (3, N'Amado', N'Taylor', N'1965-08-17', CAST(0x802C0B00 AS Date), N'Chicago', N'Illinois', N'3402 Broderick Street ', N'522.501.6331', N'976.113.3737', N'767.944.7131', NULL, 7)
GO
SET IDENTITY_INSERT [dbo].[customers] OFF
SET IDENTITY_INSERT [dbo].[pack_grades] ON 

INSERT [dbo].[pack_grades] ([grade_id], [grade_name], [min_price], [max_price]) VALUES (1, N'Very Low', 0, 10)
INSERT [dbo].[pack_grades] ([grade_id], [grade_name], [min_price], [max_price]) VALUES (2, N'Low', 11, 20)
INSERT [dbo].[pack_grades] ([grade_id], [grade_name], [min_price], [max_price]) VALUES (3, N'Medium', 21, 40)
SET IDENTITY_INSERT [dbo].[pack_grades] OFF
SET IDENTITY_INSERT [dbo].[packages] ON 

INSERT [dbo].[packages] ([pack_id], [speed], [strt_date], [monthly_payment], [sector_id]) VALUES (1, N'750Kbps', CAST(0x5C2C0B00 AS Date), 79, 1)
INSERT [dbo].[packages] ([pack_id], [speed], [strt_date], [monthly_payment], [sector_id]) VALUES (2, N'750Kbps', CAST(0x8D2D0B00 AS Date), 69, 1)
INSERT [dbo].[packages] ([pack_id], [speed], [strt_date], [monthly_payment], [sector_id]) VALUES (3, N'750Kbps', CAST(0x092E0B00 AS Date), 59, 1)
SET IDENTITY_INSERT [dbo].[packages] OFF
SET IDENTITY_INSERT [dbo].[sectors] ON 

INSERT [dbo].[sectors] ([sector_id], [sector_name]) VALUES (1, N'Private')
INSERT [dbo].[sectors] ([sector_id], [sector_name]) VALUES (2, N'Business')
SET IDENTITY_INSERT [dbo].[sectors] OFF
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [pck_id_fk] FOREIGN KEY([pack_id])
REFERENCES [dbo].[packages] ([pack_id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [pck_id_fk]
GO
ALTER TABLE [dbo].[packages]  WITH CHECK ADD  CONSTRAINT [sec_id_fk] FOREIGN KEY([sector_id])
REFERENCES [dbo].[sectors] ([sector_id])
GO
ALTER TABLE [dbo].[packages] CHECK CONSTRAINT [sec_id_fk]
GO
USE [master]
GO
